<p id="notice"><%= notice %></p>
<div class="main_left">
  <h1>Listing Appointments</h1>

  <table>
    <thead>
      <tr>
        <th>Date of appointment</th>
        <th>Pet</th>
        <th>Customer</th>
        <th>Pet type</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Require remainder of appointment</th>
        <th>Reason for visit</th>
        <th>Doctor</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.date_of_appointment %></td>
          <td><%= appointment.pet %></td>
          <td><%= appointment.customer %></td>
          <td><%= appointment.pet_type %></td>
          <td><%= appointment.breed %></td>
          <td><%= appointment.age %></td>
          <td><%= appointment.weight %></td>
          <td><%= appointment.require_remainder_of_appointment %></td>
          <td><%= appointment.reason_for_visit %></td>
          <td><%= appointment.doctor_id %></td>
          <td><%= link_to 'Show', appointment %></td>
          <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
          <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
<div class="main_right">
  <%= link_to 'Book new Appointment', new_appointment_path %>
  </br>
  <%= link_to 'All Doctors', doctors_path %>
</div>
</div>  
